body {
    background: url('gambar/back.jpg');
}

.header{
    background-color: #008CBA;
    color: white;
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    border: 1px solid #cfdefa;
    position: absolute;
    height: 40px;
    width: 96%;
    padding: 2vh 3vh;
    justify-content: center;
}

#form {
    background-color: white;
	border-radius: 5%;
    border: 1px solid #cfdefa;
	position: absolute;
	height: 280px;
	width: 475px;
	margin-top: 5.5%;
	margin-left : 0.5%;
	padding: 2vh 3vh;
	justify-content: center;
}

#formBeli {
    background-color: white;
    border-radius: 5%;
    border: 1px solid #cfdefa;
    position: absolute;
    height: 170px;
    width: 475px;
    margin-top: 27.5%;
    margin-left : 0.5%;
    padding: 2vh 3vh;
    justify-content: center;
}


#tabel {
    background-color: white;
    border-radius: 5%;
    border: 0px solid #cfdefa;
    position: absolute;
    height: 475px;
    width: 775px;
    overflow: scroll;
    margin-top: 5.5%;
    margin-left : 39%;
    padding: 2vh 3vh;
    justify-content: center;
}

.footer{
    background-color: #008CBA;
    color: white;
    border: 1px solid #cfdefa;
    text-align: center;
    position: absolute;
    height: 20px;
    margin-top : 43%;
    width: 96%;
    padding: 2vh 3vh;
    justify-content: center;
}

#header{
    height: 80px;
    width: 600px;
    position: relative;
}

	.judul{
		font-family: arial;
		font-size: 20px;
		text-align: center;
		margin-top: 0;
		margin-left: 90px;
		font-style: bold;
	}

	.input{
		width: 94%;
        height: 10%;
        padding: 12px 20px;
        margin: 8px 0 0 20px;
        display: inline-block;
        border: 1px solid #6495ED;
        border-radius: 4px;
        box-sizing: border-box;
	}

    .inputSearch{
        height: 8%;
        padding: 3px 10px;
        margin: 8px 0 0 5px;
        display: inline-block;
        border: 1px solid #6495ED;
        border-radius: 4px;
        box-sizing: border-box;
        margin-bottom: 7px;
    }


.button {
        background-color: #008CBA;
        border: none;
        color: white;
        padding: 10px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        margin: 12px 2px;
        margin-left: 23px;
        cursor: pointer;
        font-weight: bold;
        width: 94%;
    }

    .buttonDelete {
        background-color: #DC143C;
        border: none;
        color: white;
        padding: 7px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        margin: 5px 2px;
        margin-left: 3px;
        cursor: pointer;
        width: 35%;
    }

button {
  border: 1px solid #0066cc;
  background-color: #0099cc;
  color: #ffffff;
  padding: 5px 10px;
}

    table {
        border-collapse: collapse;
        width: 100%;
        border : 1px solid #008CBA;
      }
      
      th, td{
        text-align: center;
        padding: 8px;
      }
      
      th {
        background-color:#008CBA;
        color: white;
      }

      .img{
         margin-left: 25vh; 
      }

    hr{
     border: 1px solid #1E90FF;
     border-radius: 5px;
    }